.search {
    max-width: 300px;
}

input {
    padding-left: 5px;
}

.dropdown-toggle{
    background-color: #60DA99 !important;
    color: #f6f6f2 !important;
    border-color: #60DA99 !important;
    float: right;
}

.dropdown{
    position: relative;
    float: right;
    right: -16px;
    top: 10px;
}

.text-right{
    margin-right: 11px;
}

form.text-right{
    margin-right: 0px;
}