header {
    width: 100%;
    top: 0;
}

.title-bar {
    width: inherit;
    background-color: #138b53;
    height: 60px;
    padding: 5px;
}

.logo {
    margin-left: 1em;
    width: 100px;
    height: 100px;
}

li {
    padding: 10px;
    height: 100%;
}

li:hover {
    background-color: #0e663d
}

li>a {
    text-decoration: none;
    color: #ffffff;
}

li>a:hover {
    text-decoration: none;
    color: #d4d4d4;
}

ul {
    display: flex;
    list-style: none;
}

.right {
    float: right;
}

.top-bar-menu {
    background-color: aqua;
    float: right;
    text-decoration: none;
}