.App {
  text-align: center;
  background-color:#f6f6f2;
}

h2 {
  padding-top: 50px;
  color: #05386b;
}

body{
  background-color:#f6f6f2 !important;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

.tree-col{
  /* margin:auto;  UNCOMMENT THIS IF WE WANT THE TREES CENTERED*/
  margin-bottom: 30px;
}

.btn{
  background-color: #60DA99 !important; 
  color: #ffffff !important;
}

.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid !important;
}
.btn-remove{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid !important;
}
.btn-remove:hover{
  background-color: darkred;
  cursor: pointer;
}
.btn-add{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid !important;
}
.btn-add:hover{
  background-color: green;
  cursor: pointer;
}
.cart-remove{
  background:transparent;
  text-transform: capitalize;
  font-size: 1rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid !important;
}
.cart-remove:hover{
  cursor: pointer;
}
